.button,button{
    display:inline-block;
    text-decoration:none;
    font-size:18px;
    width:300px;
    font-weight:700;
    line-height:48px;
    letter-spacing:0.1px;
    white-space:wrap;
    border-radius:8px;
    cursor:pointer;
    color:#fff8f1;
    background-color:#eb6123;
    box-shadow:0 5px 0 #772c0a
}
.button:focus,button:active{
    outline:10px auto -webkit-focus-ring-color
}
.button:hover,button:hover{
    background-color:#772c0a;
    color:#eae0d5;
    border-color:#888;
    outline:0;
    filter: brightness(90%)
}
.button:active,button:active{
    box-shadow:none;
    transform:translateY(5px)
}
.container{
    position:relative;
    width:100%;
    max-width:600px;
    text-align:center;
    margin:0 auto;
    padding:0 20px;
    box-sizing:border-box
}
@media (min-width: 400px){
    .container{
        width:85%;
        padding:0
    }
}
@media (min-width: 550px){
    .container{
        width:80%
    }
    .column{
        margin-left:0
    }
    .column:first-child{
        margin-left:0
    }
}
html{
    font-size:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    color-scheme:dark;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center
}
body{
    font-size:18px;
    line-height:24px;
    font-weight:400;
    background-color:#1e1e1e;
    font-family:"Open Sans", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif
}
h1{
    margin-top:0;
    margin-bottom:16px;
    font-weight:800
}
h1{
    font-size:24px;
    line-height:64px;
    letter-spacing:0
}
@media (min-width: 550px){
    h1{
        font-size:48px;
        line-height:96px
    }
}
p{
    margin-top:0
}
.button,button{
    margin-bottom:1rem
}
p{
    margin-bottom:2.5rem
}
.avatar{
    width:128px;
    height:128px;
    object-fit:cover;
    background-position:center;
    border-radius:50%;
    border: 10px solid #eb6123
}
.grid{
    display:grid;
    place-content:center
}
